/* LOG IN PAGE */

.logo {
  max-height: 40px; 
  vertical-align: middle;
}

body {
  margin: 0;
  padding: 0;
  font-family: Calibri, Arial, sans-serif;
  background-color: #ff8686;
  color: white;
}

.header {
  padding: 10px 0;
  text-align: center;
}

.buttons {
  position: absolute;
  top: 10px;
  right: 20px;
  transform: translateY(0);
}

.button {
  display: inline-block;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.button.home-button {
  background-color: #ff8686;
  color: white;
  border: 2px solid #ff8686;
}

.button.contact-button {
  background-color: #ffff00;
  color: black;
  border: 2px solid #ffff00;
}

.button.contact-button:hover {
  background-color: black;
  color: white;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-top: 120px;
}

.login-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.underline {
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  margin: 10px 0;
}

.yellow-text {
  color: yellow;
  text-decoration: underline;
}

.input-label {
  font-weight: bold;
}

.input-box {
  width: 100%;
  padding: 8px;
  margin: 4px 0;
  border: 1px solid white;
  border-radius: 4px;
  background-color: transparent;
  color: white;
}

.login-button {
  background-color: gray;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.login-button:hover {
  background-color: #404040;
}

.dont-have-account {
  margin-top: 10px;
  text-align: center;
}

.signup-link {
  color: yellow;
  text-decoration: underline;
}

.logo-image{
  position: absolute;
  bottom: 100px;
  right: 30px;
  width: 33.33vw;
  height: 33.33vh;
  object-fit: contain;
}

.footer {
  background-color: white;
  padding: 10px 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-text {
  font-size: 14px;
  color: #ff8686;
}

.highlight {
  font-weight: bold;
}
/* test */
.form-group {
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
}
.form-message {
  text-align: left;
}

.form-label {
  font-weight: 700;
  padding-bottom: 6px;
  line-height: 1.8rem;
  font-size: 1.4rem;
}
.form-control {
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  outline: none;
  font-size: 1.4rem;
}

.form-control:hover {
  border-color: #1dbfaf;
}

.form-group.invalid .form-control {
  border-color: #f33a58;
}

.form-group.invalid .form-message {
  color: #f33a58;
}

.form-message {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 4px 0 0;
}